@tailwind base;

@tailwind components;

@tailwind utilities;

/* .filter-golden {
  filter: invert(91%) sepia(14%) saturate(810%) hue-rotate(334deg) brightness(99%) contrast(89%);
} */
.btn-golden{
  margin: 20px;
  color: #1F0015;
  background-color: #EFD6AE;
  border: none;
  padding: 15px 30px;
  border-radius: 100px;
  cursor: pointer;
  font-size: auto;
  font-weight: 500;
  transition: all 0.3s ease;
}
.btn-golden-no-margin{
  color: #1F0015;
  background-color: #EFD6AE;
  border: none;
  padding: 15px 30px;
  border-radius: 100px;
  cursor: pointer;
  font-size: auto;
  font-weight: 500;
  transition: all 0.3s ease;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
[class^="number-slide"],
[class*=" number-slide"] {
  background: grey;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  color: #fff;
  font-weight: 500;
  max-height: 100vh;
}

.number-slide1 {
  background-color: #1F0015
}

.number-slide2 {
  background-color: #1F0015
}

.number-slide3 {
  background-color: #1F0015
}

.number-slide4 {
  background-color: #1F0015
}

.number-slide5 {
  background-color: #1F0015
}

.number-slide6 {
  background-color: #1F0015
}

.navigation-wrapper {
  position: relative;
}

.dots {
  display: flex;
  padding: 10px 0;
  justify-content: center;
}

.dot {
  border: none;
  width: 10px;
  height: 10px;
  background: #c5c5c5;
  border-radius: 50%;
  margin: 0 5px;
  padding: 5px;
  cursor: pointer;
}

.dot:focus {
  outline: none;
}

.dot.active {
  background: #000;
}

.arrow {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  fill: #fff;
  cursor: pointer;
}

.arrow--left {
  left: 5px;
}

.arrow--right {
  left: auto;
  right: 5px;
}

.arrow--disabled {
  fill: rgba(255, 255, 255, 0.5);
}

.mobile-margin {
  marginRight: auto;
  marginLeft: auto;
}